<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771703545481-os5jqb4vsbf9kkhp47335i0dqhgp9auu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771703545481-os5jqb4vsbf9kkhp47335i0dqhgp9auu</string>
	<key>API_KEY</key>
	<string>AIzaSyDCUyypKP6SrbHgMKIrPS-oK880CVmfN6A</string>
	<key>GCM_SENDER_ID</key>
	<string>771703545481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineLearningApp</string>
	<key>PROJECT_ID</key>
	<string>online-course-app-trng</string>
	<key>STORAGE_BUCKET</key>
	<string>online-course-app-trng.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771703545481:ios:18eb0b1c16d91d026a7058</string>
</dict>
</plist>